@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kurale&display=swap");

.card {
    font-family: 'Kurale', serif;
    padding: 15px;

    #name {
        font-size: 20px;
    }

    #profile {
        font-size: 15px;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: #ccc;
        cursor: pointer;
        animation: pulse 2s infinite;

        @keyframes pulse {
            0% {
                color: #ccc;
            }

            100% {
                color: #F38E9A;
            }
        }
    }
}

.study {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 350px;
    height: auto;
}

#period {
    position: relative;

    p {
        font-size: 15px;
        font-weight: bold;
        color: #ccc;
        text-transform: uppercase;
    }

    div:first-of-type {
        width: 10px;
        height: 10px;
        border: 1px solid #f38e9A;
        border-radius: 50%;
        background-color: #f38e9A;
        margin-left: -21px;
        position: absolute;
    }
}

.title {

    h1 {
        font-size: 40px;
        font-family: 'Cinzel Decorative', serif;
    }

    #line {
        border: 1px solid #F38E9A;
        width: 30px;
        margin-top: -20px;
        background-color: #F38E9A;
    }

    &:hover {
        #line {
            width: 160px;
            transition: width 2s;
        }
    }

    p {
        font-weight: bold;
        font-size: 20px;
        font-family: 'Kurale', cursive;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .title {

        h1 {
            -webkit-animation: text-shadow-drop-top 2s infinite both;
            animation: text-shadow-drop-top 2s infinite both;

            @-webkit-keyframes text-shadow-drop-top {
                0% {
                    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
                }
                100% {
                    text-shadow: 0 -6px 18px rgba(0, 0, 0, 0.35);
                }
            }
                    
            @keyframes text-shadow-drop-top {
                0% {
                  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
                }
                100% {
                  text-shadow: 0 -6px 18px rgba(0, 0, 0, 0.35);
                }
            }
        }
        
        #line {
            display: none;
        }
    }
}