@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kurale&display=swap");

.knowledge {    

    h1 {
        font-family: 'Cinzel Decorative', cursive;
        font-size: 40px;
    }

    #line {
        border: 1px solid #F38E9A;
        width: 30px;
        margin-top: -20px;
        background-color: #F38E9A;
    }

    &:hover {
        #line {
            width: 500px;
            transition: width 2s;
        }
    }

    .list {
        font-family: 'Kurale', serif;
        border: 1px solid #F38E9A;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    
    .show-more {
        font-family: 'Kurale, serif';
        background-color: #F38E9A;
        padding: 10px;
        width: 100%;
        border: none;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        cursor: pointer;

        &:focus {
            outline: none;
            border: none;
        }

        .fa-spin {
            animation: fa-spin 2s infinite linear;

            @keyframes fa-spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(359deg);
                }
            }
        }

        &:hover {
            -webkit-animation: heartbeat 1.5s ease-in-out infinite reverse backwards;
	        animation: heartbeat 1.5s ease-in-out infinite reverse backwards;
            
            @-webkit-keyframes heartbeat {
                from {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-transform-origin: center center;
                          transform-origin: center center;
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                10% {
                  -webkit-transform: scale(0.91);
                          transform: scale(0.91);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                17% {
                  -webkit-transform: scale(0.98);
                          transform: scale(0.98);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                33% {
                  -webkit-transform: scale(0.87);
                          transform: scale(0.87);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                45% {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
            }
            
            @keyframes heartbeat {
                from {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-transform-origin: center center;
                          transform-origin: center center;
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                10% {
                  -webkit-transform: scale(0.91);
                          transform: scale(0.91);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                17% {
                  -webkit-transform: scale(0.98);
                          transform: scale(0.98);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                33% {
                  -webkit-transform: scale(0.87);
                          transform: scale(0.87);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                45% {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
            }
        }
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

        .knowledge {

                h1 {
                        -webkit-animation: text-shadow-drop-top 2s infinite both;
                        animation: text-shadow-drop-top 2s infinite both;

                        @-webkit-keyframes text-shadow-drop-top {
                                0% {
                                text-shadow: 0 0 0 rgba(0, 0, 0, 0);
                                }
                                100% {
                                text-shadow: 0 -6px 18px rgba(0, 0, 0, 0.35);
                                }
                        }
                                
                        @keyframes text-shadow-drop-top {
                                0% {
                                text-shadow: 0 0 0 rgba(0, 0, 0, 0);
                                }
                                100% {
                                text-shadow: 0 -6px 18px rgba(0, 0, 0, 0.35);
                                }
                        }
                }

                #line {
                        display: none;
                }
        }
}

// @media only screen 
//   and (min-device-width: 812px) 
//   and (max-device-width: 1366px) 
// {
//         .knowledge {    

//                 h1 {
//                     font-size: 30px;
//                 }
//         }
// }